# Análise de Táxis Amarelos em Nova York

## Pergunta de Análise

Qual a média de valor total (**total_amount**) recebido em um mês considerando odos os yellow táxis da frota?",

### Contexto
Este notebook analisa os valores totais das corridas de táxis amarelos em Nova York para todos os mês disponíveis. O objetivo é entender a receita média por corrida, a distribuição ao longo dos meses e identificar padrões ou anomalias que possam indicar discrepâncias nos registros.

### Objetivo",
- Calcular a média de `total_amount` por corrida no mês analisado
- Visualizar a distribuição e tendência dos valores totais
- Identificar outliers e possíveis inconsistências nos registros

In [2]:
from ifood.aws.athena_queries import execute_athena_query
from ifood.vars import athena_output_queries

In [3]:
athena_schema = "ifood_nyc_taxi_agency"
athena_table = "yellow_tripdata"

In [4]:
query = f"""
SELECT
    date_format(tpep_pickup_datetime, '%Y-%m') as month,
    ROUND(AVG(passenger_count),2) AS average_passenger_count
FROM {athena_schema}.{athena_table}
GROUP BY 1
ORDER BY 1
"""

In [5]:
execute_athena_query(query, athena_output_queries)

[{'month': '2001-01', 'average_passenger_count': '1.33'},
 {'month': '2003-01', 'average_passenger_count': '1.22'},
 {'month': '2008-12', 'average_passenger_count': '1.0'},
 {'month': '2009-01', 'average_passenger_count': '1.0'},
 {'month': '2014-11', 'average_passenger_count': '2.0'},
 {'month': '2022-10', 'average_passenger_count': '1.18'},
 {'month': '2022-12', 'average_passenger_count': '1.0'},
 {'month': '2023-01', 'average_passenger_count': '1.36'},
 {'month': '2023-02', 'average_passenger_count': '1.35'},
 {'month': '2023-03', 'average_passenger_count': '1.35'},
 {'month': '2023-04', 'average_passenger_count': '1.38'},
 {'month': '2023-05', 'average_passenger_count': '1.36'},
 {'month': '2023-06', 'average_passenger_count': '1.36'},
 {'month': '2023-07', 'average_passenger_count': '1.0'},
 {'month': '2023-08', 'average_passenger_count': '1.0'},
 {'month': '2023-09', 'average_passenger_count': '1.0'}]